/* src/components/Contact.css */
.contact-section {
  padding: 5rem 2rem;
  background-color: var(--background-primary);
  text-align: center;
  flex-wrap: wrap;
}
.contact-description {
  max-width: 600px;
  margin: 1rem auto 3rem;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-secondary);
}
.contact-form {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.form-group {
  width: 100%;
  flex-wrap: wrap;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--border-color);
  background-color: var(--card-background);
  color: var(--text-primary);
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.3s ease;
  flex-wrap: wrap;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--text-secondary);
  opacity: 0.8;
}
.contact-form button {
  width: fit-content;
  align-self: center;
  cursor: pointer;
}
@media (max-width: 480px) {
  .contact-section {
    padding: 3rem 1rem;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .contact-description {
    font-size: 1rem;
  }
  .attachment-instruction {
    font-size: 0.9rem;
    color: var(--text-secondary);
    text-align: left;
    margin-bottom: 0.5rem;
  }
}
